@import '../../style/_common.scss';

.page-home {
  .searchbar {
    border-bottom: none;
  }

  .home-tab {
    .t-tab-tab {
      height: 48px;
      font-size: rem(30);
      line-height: 48px;
      border-top: none;
      color: var(--color-font--light);

      &.t-tab-tab-active {
        font-weight: 500;
        color: var(--color-font--blue);
      }
    }

    .t-tab-ink-bar {
      height: rem(4);
      background-color: var(--color-font--blue);
    }
  }

  .list-container {
    overflow: auto;
    height: calc(100vh - 44px - 48px);
    padding: var(--rem-16) var(--rem-24);
  }

  .list-item {
    padding: rem(32);
    border-radius: 6px;
    background-color: #fff;

    .item-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      big {
        @include ellipsis();
        width: calc((380 / var(--rem) * 1rem));
        font-size: var(--rem-34);
      }

      i {
        font-size: var(--rem-24);
      }
    }

    .item-body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
      color: var(--color-font--light);

      .content p {
        @include ellipsis();
      }
      .content p:first-child {
        margin-top: rem(28);
        margin-bottom: rem(14);
        font-size: rem(28);
      }
    }
  }

  .list-item + .list-item {
    margin-top: var(--rem-16);
  }

  .add-btn {
    position: fixed;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    right: 25px;
    bottom: 25px;
    border-radius: 50%;
    box-shadow: 0px 14px 35px 0px rgba(39, 121, 255, 0.4);
    background-color: var(--color-font--blue);
  }
}
