@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@function rem($num) {
  $res: calc((#{$num} / var(--rem)) * 1rem);
  @return $res;
}

@function remPlus($num, $addend){
  @return calc((#{$num} / var(--rem)) * 1rem + #{$addend})
}