@import '~saltui/build/dd.css';
:root {
  --rem: 70; /* dpr 2*/
  --rem-16: calc((16 / var(--rem)) * 1rem);
  --rem-24: calc((24 / var(--rem)) * 1rem);
  --rem-32: calc((32 / var(--rem)) * 1rem);
  --rem-34: calc((34 / var(--rem)) * 1rem);
  --color-font--normal: #202020;
  --color-font--light: #ababab;
  --color-font--blue: #2779ff;
  --color-font--blue-disabled: #C6E2FE;
  --color-bg--white: #fff;
  --color-bg--body: #f6f6f6;
  --color-bd--normal: #E3E4E4;
}
body {
  color: var(--color-font--normal);
  background-color: var(--color-bg--body);
}
h1,
p {
  font-family: Lato;
}

.overflow-auto {
  overflow: auto;
}
